.team-standing-tables {
  display: flex;
  flex-direction: column;

  team-standing-table {
    flex: 1;
    margin-bottom: 0.5rem;
  }

  td,
  th {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 767px) {
  .team-standing-tables {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    team-standing-table {
      flex: 0 0 calc(50% - 1rem);
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .team-standing-tables {
    flex-direction: column;

    team-standing-table {
      flex: 1;
    }
  }
}
