<div class="team-standing-tables">
  <ng-container *ngIf="{ loading: loading$ | async } as o">
    <ng-container *appContentLoaderIf="!o.loading; height 150">
      <ng-container *ngIf="(topThreeTeams$ | async) as topThreeTeams">
        <team-standing-table [headerTemplateRef]="topThreeHeaderTemplate" [teamsTemplateRef]="topThreeTeamsTemplate"
          >Top 3 teams</team-standing-table
        >

        <ng-template #topThreeHeaderTemplate>
          <th class="left">Name</th>
          <th class="left">Division</th>
          <th class="left">Points</th>
        </ng-template>

        <ng-template #topThreeTeamsTemplate>
          <tr *ngFor="let team of topThreeTeams">
            <td class="left">
              <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)">{{ team.name }}</a>
            </td>
            <td class="left">{{ team.division }}</td>
            <td class="left">{{ team.points }}</td>
          </tr>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="(topOffensiveTeams$ | async) as leaders">
        <team-standing-table [headerTemplateRef]="leaderHeaderTemplate" [teamsTemplateRef]="leaderTemplate"
          >Top 3 Offensive Teams</team-standing-table
        >

        <ng-template #leaderHeaderTemplate>
          <th class="left">Division</th>
          <th class="left">Name</th>
          <th class="left">Goals For</th>
        </ng-template>

        <ng-template #leaderTemplate>
          <tr *ngFor="let team of leaders">
            <td class="left">{{ team.division }}</td>
            <td class="left">
              <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)">{{ team.name }}</a>
            </td>
            <td class="left">{{ team.goalsFor }}</td>
          </tr>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="(worstOffensiveTeams$ | async) as leaders">
        <team-standing-table [headerTemplateRef]="leaderHeaderTemplate" [teamsTemplateRef]="leaderTemplate"
          >Worst 3 Offensive Teams</team-standing-table
        >

        <ng-template #leaderHeaderTemplate>
          <th class="left">Division</th>
          <th class="left">Name</th>
          <th class="left">Goals For</th>
        </ng-template>

        <ng-template #leaderTemplate>
          <tr *ngFor="let team of leaders">
            <td class="left">{{ team.division }}</td>
            <td class="left">
              <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)">{{ team.name }}</a>
            </td>
            <td class="left">{{ team.goalsFor }}</td>
          </tr>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="(topDefensiveTeams$ | async) as leaders">
        <team-standing-table [headerTemplateRef]="leaderHeaderTemplate" [teamsTemplateRef]="leaderTemplate"
          >Top 3 Defensive Teams</team-standing-table
        >

        <ng-template #leaderHeaderTemplate>
          <th class="left">Division</th>
          <th class="left">Name</th>
          <th class="left">Goals Against</th>
        </ng-template>

        <ng-template #leaderTemplate>
          <tr *ngFor="let team of leaders">
            <td class="left">{{ team.division }}</td>
            <td class="left">
              <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)">{{ team.name }}</a>
            </td>
            <td class="left">{{ team.goalsAgainst }}</td>
          </tr>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="(worstDefensiveTeams$ | async) as leaders">
        <team-standing-table [headerTemplateRef]="leaderHeaderTemplate" [teamsTemplateRef]="leaderTemplate"
          >Worst 3 Defensive Teams</team-standing-table
        >

        <ng-template #leaderHeaderTemplate>
          <th class="left">Division</th>
          <th class="left">Name</th>
          <th class="left">Goals Against</th>
        </ng-template>

        <ng-template #leaderTemplate>
          <tr *ngFor="let team of leaders">
            <td class="left">{{ team.division }}</td>
            <td class="left">
              <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)">{{ team.name }}</a>
            </td>
            <td class="left">{{ team.goalsAgainst }}</td>
          </tr>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
