<div class="division-tables">
  <team-title [url]="'/team'">Standings</team-title>
  <ng-container *ngIf="{ divisionStanding: divisionStanding$ | async, hasTeam: hasTeam$ | async } as o">
    <ng-container *ngIf="o.hasTeam; else noLeague">
      <team-tables>
        <ng-container *ngFor="let division of orderOfDivision">
          <team-standing-table
            [title]="division"
            [headerTemplateRef]="headerTemplate"
            [teamsTemplateRef]="o.divisionStanding[division] ? teamsTemplate : noDivision"
          ></team-standing-table>

          <ng-template #teamsTemplate>
            <tr *ngFor="let team of o.divisionStanding[division]">
              <td class="left">
                <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)"
                  >{{ team.name }}</a
                >
              </td>
              <td class="left">{{ team.gamesPlayed }}</td>
              <td class="left">{{ team.numWin }}</td>
              <td class="left">{{ team.numLoss }}</td>
              <td class="left">{{ team.numDraw }}</td>
              <td class="left">{{ team.numOTWin }}</td>
              <td class="left">{{ team.numOTLoss }}</td>
              <td class="left">{{ team.winPercentage.toFixed(2) }}</td>
              <td class="left">{{ team.lossPercentage.toFixed(2) }}</td>
              <td class="left">{{ team.drawPercentage.toFixed(2) }}</td>
              <td class="left">{{ team.goalsFor }}</td>
              <td class="left">{{ team.goalsAgainst }}</td>
              <td class="left">{{ team.points }}</td>
            </tr>
          </ng-template>

          <ng-template #noDivision>
            <tr>
              <td colspan="13">
                Pleas <a routerLinkActive="active" (click)="createTeamWithDivision(division)">create</a> new team to
                join {{ division }} division
              </td>
            </tr>
          </ng-template>
        </ng-container>
      </team-tables>
    </ng-container>
  </ng-container>

  <ng-template #headerTemplate>
    <th class="left">Name</th>
    <th class="left">Number of games</th>
    <th class="left">Win</th>
    <th class="left">Loss</th>
    <th class="left">Draw</th>
    <th class="left">OT Win</th>
    <th class="left">OT Loss</th>
    <th class="left">Winning %</th>
    <th class="left">Losing %</th>
    <th class="left">Draw %</th>
    <th class="left">Goals For</th>
    <th class="left">Goals Against</th>
    <th class="left">Points</th>
  </ng-template>

  <ng-template #noLeague>
    <div class="no-league">
      <h2 class="center">
        Please <a (click)="createTeamWithDivision()" routerLinkActive="active">create</a> new team to join the league.
      </h2>
    </div>
  </ng-template>
</div>
