@import '../../../variables';

.heading {
  height: 60px;
  padding: 0.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 calc(100% / 3);

  .title {
    font-size: 1.25rem;
  }

  .spacer {
    width: 42px;
  }
}

.form-container {
  margin-top: 1rem;
  border: 3px solid black;
}

.team-container {
  > .alert-danger {
    color: $danger-color;
  }

  > .alert-success {
    color: $success-color;
  }

  .alert-icon-wrapper {
    color: $icon-color;
  }
}
