<article class="team-container">
  <team-title [url]="'/team'">Add New Team</team-title>
  <ng-container *ngIf="{ msg: error$ | async, closeAlert: closeAlert$ | async } as o">
    <div class="alert alert-danger team-alert" role="alert" *ngIf="o.msg && !o.closeAlert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <i class="fas fa-info-circle"></i>
          </div>
          <span class="alert-text">{{ o.msg }}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <i class="fas fa-times-circle"></i>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="{ msg: message$ | async, closeAlert: closeAlert$ | async } as o">
    <div class="alert alert-success team-alert" role="alert" *ngIf="o.msg && !o.closeAlert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <i class="fas fa-info-circle"></i>
          </div>
          <span class="alert-text">{{ o.msg }}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <i class="fas fa-times-circle"></i>
      </button>
    </div>
  </ng-container>
  <main class="form-container">
    <form clrForm [formGroup]="form" (ngSubmit)="addTeam$.next()" #f="ngForm">
      <clr-input-container>
        <label for="name">Name:</label>
        <input id="name" clrInput type="text" formControlName="name" />
        <clr-control-helper>Name of the new team</clr-control-helper>
        <clr-control-error>Name is required!</clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>Division</label>
        <select clrSelect name="division" formControlName="division" required>
          <option value="East">East</option>
          <option value="South">South</option>
          <option value="West">West</option>
          <option value="North">North</option>
        </select>
        <clr-control-helper>Division of the new team</clr-control-helper>
        <clr-control-error>Division is required!</clr-control-error>
      </clr-select-container>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
    </form>
  </main>
</article>
