<div class="team-container">
  <header class="heading">
    <a (click)="returnToMenu()" aria-label="Return to team menu">
      <i class="fas fa-chevron-circle-left fa-3x"></i>
    </a>
    <div class="title">
      <span class="center">Add New Team</span>
    </div>
    <span class="spacer"></span>
  </header>
  <section class="form-container">
    <form clrForm [formGroup]="form" (ngSubmit)="addTeam()" #f="ngForm">
      <clr-input-container>
        <label for="name">Name:</label>
        <input id="name" clrInput type="text" formControlName="name" />
        <clr-control-helper>Name of the new team</clr-control-helper>
        <clr-control-error>Name is required!</clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>Division</label>
        <select clrSelect name="division" formControlName="division" required>
          <option value="East">East</option>
          <option value="South">South</option>
          <option value="West">West</option>
          <option value="North">North</option>
        </select>
        <clr-control-helper>Division of the new team</clr-control-helper>
        <clr-control-error>Division is required!</clr-control-error>
      </clr-select-container>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
    </form>
  </section>
  <div *ngIf="(message$ | async) as message" class="success-box">{{ message }}</div>
  <div *ngIf="(error$ | async) as error" class="error-box">{{ error }}</div>
</div>
