<div class="team-container">
  <ng-container *ngIf="{ team: team$ | async, loading: loading$ | async } as o">
    <ng-container *appContentLoaderIf="!o.loading; height 150">
      <team-title [url]="'/team/list'">{{ o.team.division }} - {{ o.team.name }}</team-title>
      <section class="roster-container">
        <alert-err-message [error]="error$ | async" [closeAlert]="hideError$ | async"></alert-err-message>
        <section class="main-content">
          <ng-container *ngIf="(isSmallScreen$ | async); else horizontalTable">
            <team-stat-vertical-table
              [team]="o.team"
              (updateWin)="updateWin$.next($event)"
              (updateLoss)="updateLoss$.next($event)"
              (updateDraw)="updateDraw$.next($event)"
              (updateOvertimeWin)="updateOvertimeWin$.next($event)"
              (updateOvertimeLoss)="updateOvertimeLoss$.next($event)"
              (updateGoalsFor)="updateGoalsFor$.next($event)"
              (updateGoalsAgainst)="updateGoalsAgainst$.next($event)"
              [overtimeArrowsVisible]="o.team.numDraw > o.team.numOTWin + o.team.numOTLoss"
              [goalsForVisible]="o.team.numWin + o.team.numLoss + o.team.numDraw > 0"
              [goalsAgainstVisible]="o.team.numWin + o.team.numLoss + o.team.numDraw > 0"
            ></team-stat-vertical-table>
          </ng-container>

          <team-standing-table
            [headerTemplateRef]="leaderHeaderTemplate"
            [teamsTemplateRef]="leaderTemplate"
            [titleTemplateRef]="titleTemplate"
          >
          </team-standing-table>

          <ng-template #titleTemplate>
            <p class="standing-table-title">{{ o.team.division + ' Division' }}</p>
          </ng-template>

          <ng-template #leaderHeaderTemplate>
            <th class="left">Name</th>
            <th class="left">Games Played</th>
            <th class="left">Points</th>
          </ng-template>

          <ng-template #leaderTemplate>
            <tr *ngFor="let team of (currentDivision$ | async)">
              <td class="left">
                <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)"
                  >{{ team.name }}</a
                >
              </td>
              <td class="left">{{ team.gamesPlayed }}</td>
              <td class="left">{{ team.points }}</td>
            </tr>
          </ng-template>
        </section>
      </section>
      <ng-template #horizontalTable>
        <team-stat-horizontal-table
          [team]="o.team"
          (updateWin)="updateWin$.next($event)"
          (updateLoss)="updateLoss$.next($event)"
          (updateDraw)="updateDraw$.next($event)"
          (updateOvertimeWin)="updateOvertimeWin$.next($event)"
          (updateOvertimeLoss)="updateOvertimeLoss$.next($event)"
          (updateGoalsFor)="updateGoalsFor$.next($event)"
          (updateGoalsAgainst)="updateGoalsAgainst$.next($event)"
          [overtimeArrowsVisible]="o.team.numDraw > o.team.numOTWin + o.team.numOTLoss"
          [goalsForVisible]="o.team.numWin + o.team.numLoss + o.team.numDraw > 0"
          [goalsAgainstVisible]="o.team.numWin + o.team.numLoss + o.team.numDraw > 0"
        ></team-stat-horizontal-table>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
