.team-container {
  display: grid;
  min-height: 100%;

  grid-template-rows: max-content 1fr;
}

team-title {
  margin-bottom: 1rem;
}

.roster-container {
  .main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      'content content content content sidebar'
      'player player player player sidebar'
      'player player player player sidebar';
  }

  .team-alert {
    margin-bottom: 0.5rem;

    .close i {
      font-size: 1rem;
    }
  }

  team-stat-vertical-table,
  team-stat-horizontal-table {
    grid-area: content;
    margin-bottom: 1rem;
  }

  team-stat-horizontal-table {
    margin-right: 0.5rem;
  }

  team-analysis {
    grid-area: sidebar;
  }
}

@media screen and (max-width: 767px) {
  .roster-container {
    .main-content {
      grid-template-columns: 1fr;
      grid-template-areas:
        'content'
        'player'
        'player'
        'sidebar';
    }
  }
}
