<div class="team-container">
  <ng-container *ngIf="(team$ | async) as team">
    <header class="heading">
      <a (click)="returnToMenu()" aria-label="Return to team menu">
        <i class="fas fa-chevron-circle-left fa-3x"></i>
      </a>
      <div class="title">
        <span class="center">{{ team.division }} - {{ team.name }}</span>
      </div>
      <span class="spacer"></span>
    </header>
    <section class="roster-container">
      <ng-container *ngIf="{ msg: error$ | async, hideError: hideError$ | async } as error">
        <div class="alert alert-danger team-alert" role="alert" *ngIf="error.msg && !error.hideError">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <i class="fas fa-info-circle"></i>
              </div>
              <span class="alert-text">{{ error.msg }}</span>
            </div>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <i class="fas fa-times-circle"></i>
          </button>
        </div>
      </ng-container>
      <section class="main-content">
        <ng-container *ngIf="(isSmallScreen$ | async); else horizontalTable">
          <team-stat-vertical-table
            [team]="team"
            (updateWin)="updateWin$.next($event)"
            (updateLoss)="updateLoss$.next($event)"
            (updateDraw)="updateDraw$.next($event)"
            (updateOvertimeWin)="updateOvertimeWin$.next($event)"
            (updateOvertimeLoss)="updateOvertimeLoss$.next($event)"
            (updateGoalsFor)="updateGoalsFor$.next($event)"
            (updateGoalsAgainst)="updateGoalsAgainst$.next($event)"
          ></team-stat-vertical-table>
        </ng-container>
        <div class="team-standing-tables">
          <ng-container *ngIf="(topThreeTeams$ | async) as topThreeTeams">
            <team-standing-table
              [title]="'Top 3 teams'"
              [headerTemplateRef]="topThreeHeaderTemplate"
              [teamsTemplateRef]="topThreeTeamsTemplate"
            ></team-standing-table>

            <ng-template #topThreeHeaderTemplate>
              <th class="left">Name</th>
              <th class="left">Division</th>
              <th class="left">Points</th>
            </ng-template>

            <ng-template #topThreeTeamsTemplate>
              <tr *ngFor="let team of topThreeTeams">
                <td class="left">{{ team.name }}</td>
                <td class="left">{{ team.division }}</td>
                <td class="left">{{ team.points }}</td>
              </tr>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="(divisionLeaders$ | async) as leaders">
            <team-standing-table
              [title]="'Division Leaders'"
              [headerTemplateRef]="leaderHeaderTemplate"
              [teamsTemplateRef]="leaderTemplate"
            ></team-standing-table>

            <ng-template #leaderHeaderTemplate>
              <th class="left">Division</th>
              <th class="left">Name (Points)</th>
            </ng-template>

            <ng-template #leaderTemplate>
              <tr *ngFor="let team of leaders">
                <td class="left">{{ team.division }}</td>
                <td class="left">{{ team.name }} ({{ team.points }})</td>
              </tr>
            </ng-template>
          </ng-container>
        </div>
        <!-- <div class="player-container"></div> -->
      </section>
    </section>
    <ng-template #horizontalTable>
      <team-stat-horizontal-table
        [team]="team"
        (updateWin)="updateWin$.next($event)"
        (updateLoss)="updateLoss$.next($event)"
        (updateDraw)="updateDraw$.next($event)"
        (updateOvertimeWin)="updateOvertimeWin$.next($event)"
        (updateOvertimeLoss)="updateOvertimeLoss$.next($event)"
        (updateGoalsFor)="updateGoalsFor$.next($event)"
        (updateGoalsAgainst)="updateGoalsAgainst$.next($event)"
      ></team-stat-horizontal-table>
    </ng-template>
  </ng-container>
</div>
