.team-container {
  display: grid;
  min-height: 100%;

  grid-template-rows: max-content 1fr;
}

.heading {
  height: 60px;
  padding: 0.25rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 calc(100% / 3);

  .title {
    font-size: 1.25rem;
  }

  .spacer {
    width: 42px;
  }
}

.roster-container {
  // border: 1px solid red;

  .main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      'content content content content sidebar'
      'player player player player sidebar'
      'player player player player sidebar';
  }

  .team-alert {
    margin-bottom: 0.5rem;

    .close i {
      font-size: 1rem;
    }
  }

  team-stat-vertical-table,
  team-stat-horizontal-table {
    grid-area: content;
  }
}

@media screen and (max-width: 767px) {
  .roster-container .main-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      'content'
      'player'
      'player'
      'sidebar';
  }
}
