<div class="statistics-container">
  <team-title [url]="'/team'">Statistics</team-title>
  <clr-tabs>
    <clr-tab>
      <button clrTabLink id="link1">Overall</button>
      <clr-tab-content id="content2" *clrIfActive="true">
        <div>
          <ng-container *ngIf="{ overallStanding: overallStanding$ | async, loading: loading$ | async } as o">
            <ng-container *ngIf="!o.loading else loader">
              <team-standing-table
                [headerTemplateRef]="headerTemplate"
                [teamsTemplateRef]="o.overallStanding && o.overallStanding.length > 0 ? teamsTemplate : noLeague"
                [titleTemplateRef]="titleTemplate"
              ></team-standing-table>

              <ng-template #teamsTemplate>
                <tr *ngFor="let team of o.overallStanding">
                  <td class="left">
                    <a href (click)="$event.preventDefault(); $event.stopPropagation(); gotoTeam(team.id)"
                      >{{ team.name }}</a
                    >
                  </td>
                  <td class="left">{{ team.gamesPlayed }}</td>
                  <td class="left">{{ team.numWin }}</td>
                  <td class="left">{{ team.numLoss }}</td>
                  <td class="left">{{ team.numDraw }}</td>
                  <td class="left">{{ team.numOTWin }}</td>
                  <td class="left">{{ team.numOTLoss }}</td>
                  <td class="left">{{ team.winPercentage.toFixed(2) }}</td>
                  <td class="left">{{ team.lossPercentage.toFixed(2) }}</td>
                  <td class="left">{{ team.drawPercentage.toFixed(2) }}</td>
                  <td class="left">{{ team.goalsFor }}</td>
                  <td class="left">{{ team.goalsAgainst }}</td>
                  <td class="left">{{ team.points }}</td>
                </tr>
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink id="link2">Division Standing</button>
      <clr-tab-content id="content2" *clrIfActive>
        <division-standing></division-standing>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Category Leaders</button>
      <clr-tab-content *clrIfActive>
        <team-category-leaders></team-category-leaders>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
  <ng-template #loader>
    <content-loader [height]="150">
      <svg:rect x="20" y="20" rx="3" ry="3" width="250" height="5" />
      <svg:rect x="20" y="35" rx="3" ry="3" width="250" height="5" />
      <svg:rect x="20" y="50" rx="3" ry="3" width="250" height="5" />
      <svg:rect x="20" y="65" rx="3" ry="3" width="250" height="5" />
      <svg:rect x="20" y="80" rx="3" ry="3" width="250" height="5" />
      <svg:rect x="20" y="95" rx="3" ry="3" width="250" height="5" />
      <svg:rect x="20" y="110" rx="3" ry="3" width="250" height="5" />
      <svg:rect x="20" y="125" rx="3" ry="3" width="250" height="5" />
    </content-loader>
  </ng-template>
</div>

<ng-template #titleTemplate>
  <p class="standing-table-title">Overall Standing</p>
</ng-template>

<ng-template #headerTemplate>
  <th class="left">Name</th>
  <th class="left">Number of games</th>
  <th class="left">Win</th>
  <th class="left">Loss</th>
  <th class="left">Draw</th>
  <th class="left">OT Win</th>
  <th class="left">OT Loss</th>
  <th class="left">Winning %</th>
  <th class="left">Losing %</th>
  <th class="left">Draw %</th>
  <th class="left">Goals For</th>
  <th class="left">Goals Against</th>
  <th class="left">Points</th>
</ng-template>

<ng-template #noLeague>
  <tr>
    <td colspan="13">
      Please <a (click)="createTeam()" routerLinkActive="active">create</a> new team to join the league.
    </td>
  </tr>
</ng-template>
