.statistics-container {
  team-title {
    margin-bottom: 1rem;
  }

  division-standing, team-category-leaders, team-tables {
    display: block;
    margin-top: 0.5rem;
  }

  team-standing-table {
    p.standing-table-title {
      font-size: 1rem;
    }
  }
}
