<main class="team-stats">
  <section class="clr-row">
    <div class="team-stats-item">
      <p class="header-cell">GP</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">Win</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">Loss</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">Draw</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">OTW</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">OTL</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">Goals For</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">Goals Against</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">+ / - Goals</p>
    </div>
    <div class="team-stats-item">
      <p class="header-cell">Points</p>
    </div>
  </section>
  <section class="clr-row">
    <div class="team-stats-item">
      <p class="text-cell">{{ team.gamesPlayed }}</p>
    </div>
    <div class="team-stats-item">
      <team-match-counter
        [value]="team.numWin"
        [field]="'WIN'"
        (counterUpdated)="updateWin.emit($event)"
      ></team-match-counter>
    </div>
    <div class="team-stats-item">
      <team-match-counter [value]="team.numLoss" [field]="'LOSS'" (counterUpdated)="updateLoss.emit($event)">
      </team-match-counter>
    </div>
    <div class="team-stats-item">
      <team-match-counter [value]="team.numDraw" [field]="'DRAW'" (counterUpdated)="updateDraw.emit($event)">
      </team-match-counter>
    </div>
    <div class="team-stats-item">
      <team-match-counter
        [value]="team.numOTWin"
        [field]="'OVERTIME_WIN'"
        (counterUpdated)="updateOvertimeWin.emit($event)"
        [enabled]="overtimeArrowsVisible"
      ></team-match-counter>
    </div>
    <div class="team-stats-item">
      <team-match-counter
        [value]="team.numOTLoss"
        [field]="'OVERTIME_LOSS'"
        (counterUpdated)="updateOvertimeLoss.emit($event)"
        [enabled]="overtimeArrowsVisible"
      ></team-match-counter>
    </div>
    <div class="team-stats-item">
      <team-match-counter
        [value]="team.goalsFor"
        [field]="'GOALS_FOR'"
        (counterUpdated)="updateGoalsFor.emit($event)"
        [enabled]="goalsForVisible"
      >
      </team-match-counter>
    </div>
    <div class="team-stats-item">
      <team-match-counter
        [value]="team.goalsAgainst"
        [field]="'GOALS_AGAINST'"
        (counterUpdated)="updateGoalsAgainst.emit($event)"
        [enabled]="goalsAgainstVisible"
      >
      </team-match-counter>
    </div>
    <div class="team-stats-item">
      <p class="text-cell">{{ team.goalsFor - team.goalsAgainst }}</p>
    </div>
    <div class="team-stats-item">
      <p class="text-cell">{{ team.points }}</p>
    </div>
  </section>
</main>
