<article class="team-container">
  <team-title [url]="'/team/players'">
    Players
    <button class="btn btn-primary" (click)="gotoAddPlayer($event)" header-right>Add player</button>
  </team-title>
  <main class="list-container">
    <ng-container *ngIf="{ players: players$ | async, loading: loading$ | async } as o">
      <ng-container *appContentLoaderIf="!o.loading; height 150">
        <section class="clr-row">
          <div
            *ngFor="let player of o.players; index as i; trackBy: trackByFunction"
            class="clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-12"
          >
            <player-summary
              [player]="player"
              (gotoPlayer)="showPlayer($event)"
              (deleteTeam)="deleteCurrentPlayer($event)"
            ></player-summary>
          </div>
        </section>
      </ng-container>
    </ng-container>
  </main>
</article>
