:host {
  display: block;
}

.heading {
  height: 60px;
  padding: 0.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 calc(100% / 3);

  .title {
    font-size: 1.25rem;
  }

  .spacer {
    width: auto;
  }
}
