$img-width: 15em;

.card-img {
    img {
        max-width: $img-width;
        max-height: $img-width;
        width: $img-width;
        height: $img-width;
    }
}

.form-container {
    .error-box {
        margin-top: 0.5rem;

        color: red;
        font-size: 0.75rem;
        padding: 0.5rem;
        background-color: pink;
        border: 1px solid red;
    }
}