<div class="card">
  <div class="card-block">
    <div class="card-img">
      <img src="https://via.placeholder.com/250" alt="placeholder" class="card-media-image" />
    </div>

    <!-- <span class="card-media-title">{{ teamName === 'Free Agent' ? '' : 'Team: ' }}{{ teamName }}</span>
                        <span class="card-media-text">
                            <div>Nationality: {{ nationality }}</div>
                            <div>Uniform No.: {{ player.uniformNo || 'N/A' }}</div>
                            <div>Position / Hand: {{ player.position + ' / ' + (player.shootingHand || '') }}</div>
                        </span> -->
    <form clrForm [formGroup]="form" #f="ngForm">
      <clr-input-container>
        <label>Player name</label>
        <input clrInput type="text" formControlName="name" />
        <clr-control-error *ngIf="playerName.errors && playerName.errors.required">
          Player name is required
        </clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="saveDetails($event)" [disabled]="form.invalid">Save</button>
  </div>
</div>
