.card-media-block {
    .card-media {
        &-image {
            max-width: 3.5rem;
            max-height: 3.5rem;
            width: 3.5rem;
            height: 3.5rem;
        }

        &-title {
            margin-top: 0;
            text-decoration: underline;
            font-weight: bold;
        }
    }

    img {
        cursor: pointer;
    }
}
