.card-media-block {
    .card-media {
        &-image {
            max-width: 3.5em;
            max-height: 3.5em;
            width: 3.5em;
            height: 3.5em;
        }

        &-title {
            margin-top: 0;
            text-decoration: underline;
            font-weight: bold;
        }
    }

    img {
        cursor: pointer;
    }
}

.card-footer {
    display: flex;
    justify-content: flex-end;
  
    button.btn {
      > span {
        margin-right: 0.5rem;
      }
    }
  
    button.btn:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  
    button.btn:last-of-type {
      margin-right: 0;
    }
}
  