<!--The content below is only a placeholder and can be replaced.-->
<clr-main-container>
  <clr-header class="header header-5">
    <div class="branding">
      <a routerLink="/">
        <clr-icon shape="vmw-app" class="is-warning" size="24" title="App Logo"></clr-icon>
        <span class="title">Ngrx Hockey League</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1">
      <a clrVerticalNavLink [routerLink]="['/']" routerLinkActive="active">
        <i clrVerticalNavIcon class="fas fa-building" title="team link"></i>
        Team
      </a>
      <a clrVerticalNavLink [routerLink]="['/player']" routerLinkActive="active">
        <i clrVerticalNavIcon class="fas fa-users" title="players link"></i>
        Players
      </a>
    </clr-vertical-nav>
  </div>
  <footer class="footer footer5">
    <div class="info">
      <div><span class="author">Made by Connie Leung</span><i class="fas fa-copyright"></i>{{ currentYear }}</div>
      <div><i class="fab fa-github"></i><a [href]="repo" target="_blank" ref="noopener noreferrer">Code</a></div>
    </div>
  </footer>
</clr-main-container>
