<div class="container">
  <span class="spacer"></span>
  <app-menu-card></app-menu-card>
  <span class="spacer"></span>
</div>
<ng-template #teamMenu>
  <div class="card-header">
    Team Menu
  </div>
  <div class="card-block">
    <button class="btn btn-outline" (click)="navigate('new')" aria-label="Add new team">
      Add Team <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-block">
    <button class="btn btn-outline" (click)="navigate('list')" aria-label="List teams">
      List Teams <i class="fas fa-list-ul"></i>
    </button>
  </div>
  <div class="card-block">
    <button class="btn btn-outline" aria-label="Team standing">Standing <i class="fas fa-table"></i></button>
  </div>
</ng-template>
