.counter {
  display: flex;
  justify-content: center;
  align-items: center;

  p.text-cell {
    margin-top: 0;
    margin-right: 0.5rem;
    text-align: center;
  }

  .value-change-wrapper {
    a {
      display: block;
      line-height: 0.75rem;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
