@import '../../../variables';

.team-stats {
  .clr-row {
    margin-left: 0;
    margin-right: 0;

    div {
      p.header-cell {
        width: 100%;
        margin-top: 0;
        text-align: center;
      }
    }
  }

  &-item {
    padding: 0.25rem;
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);

    .counter {
      display: flex;
      > * {
        flex: 1 1 calc(100% / 3);
      }

      a:nth-child(1) {
        display: flex;
        justify-content: flex-end;
      }
    }

    p.text-cell {
      margin-top: 0;
      text-align: center;
    }

    &:nth-child(odd) {
      background: $gray-cell-color;
      border: 1px solid $border-color;
    }

    &:nth-child(even) {
      border: 1px solid $border-color;
    }
  }
}
