<main class="team-stats">
  <section class="clr-row">
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="header-cell">Game Played</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="text-cell">{{ team.gamePlayed }}</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="header-cell">Points</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="text-cell">{{ team.points }}</p>
    </div>
  </section>
  <section class="clr-row">
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="header-cell">Win</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <team-match-counter [value]="team.numWin" (counter)="updateWin.emit($event)"></team-match-counter>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="header-cell">Loss</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <team-match-counter [value]="team.numLoss" (counter)="updateLoss.emit($event)"></team-match-counter>
    </div>
  </section>
  <section class="clr-row">
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="header-cell">Draw</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <team-match-counter [value]="team.numDraw" (counter)="updateDraw.emit($event)"></team-match-counter>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="header-cell">Overtime Win</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <team-match-counter [value]="team.numOTWin" (counter)="updateOvertimeWin.emit($event)"></team-match-counter>
    </div>
  </section>
  <section class="clr-row">
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <p class="header-cell">Overtime Loss</p>
    </div>
    <div class="team-stats-item clr-col-6 clr-col-sm-3">
      <team-match-counter [value]="team.numOTLoss" (counter)="updateOvertimeLoss.emit($event)"></team-match-counter>
    </div>
  </section>
</main>
