.record {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.summary {
  display: grid;
  grid-template-columns: minmax(100px, 2fr) minmax(100px, 1fr);

  border-top: 1px solid #4a4a4a;
  font-size: 0.75rem;

  .item {
    margin-right: 0.5rem;
  }
}

.card-header {
  p,
  p.p2 {
    margin-top: 0;
  }
}

.card-img {
  display: flex;
  justify-content: center;

  .img-parent {
    width: 128px;
    height: 128px;
    padding: 0.25rem;
    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }

    img:hover {
      cursor: pointer;
    }
  }
}

.card-footer {
  display: flex;
  justify-content: flex-end;

  button.btn {
    > span {
      margin-right: 0.5rem;
    }
  }

  button.btn:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  button.btn:last-of-type {
    margin-right: 0;
  }

  clr-dropdown {
    margin-right: 0.5rem;
  }
}
