<div class="card">
  <div class="card-header">
    <p>{{ team.name }}</p>
    <p class="p2">({{ team.division }} Division)</p>
  </div>
  <div class="card-img">
    <div class="img-parent">
      <img [attr.src]="getLogoUrl()" alt="team logo" (click)="showTeamRoster()" />
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Record:</div>
    <div class="card-text">
      <div class="record">
        <div>Win: {{ team.numWin }}</div>
        <div>Draw: {{ team.numDraw }}</div>
        <div>Loss: {{ team.numLoss }}</div>
        <div>OT Win: {{ team.numOTWin }}</div>
        <div>OT Loss: {{ team.numOTLoss }}</div>
        <div>GF: {{ team.goalsFor || 0 }}</div>
        <div>GA: {{ team.goalsAgainst || 0 }}</div>
      </div>
      <div class="summary">
        <div class="item">Game Played: {{ team.gamesPlayed }}</div>
        <div class="item">Points: {{ team.points }}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary button-action" (click)="showTeamRoster()">
      <span>Roster</span><i class="fas fa-users"></i>
    </button>
    <button type="button" class="btn btn-danger button-action" (click)="openDeleteDialog()">
      <span>Delete</span><i class="fas fa-trash-alt" alt="Delete Team" aria-label="Delete Team"></i>
    </button>
  </div>
</div>

<clr-modal [(clrModalOpen)]="opened">
  <h3 class="modal-title">Confirmation</h3>
  <div class="modal-body">
    <p>Are you sure to delete {{ team.name }}? The action is irreversible.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="closeDeleteDialog()">Confirm</button>
  </div>
</clr-modal>
